@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i&subset=vietnamese');

$family-sans-serif: 'Asap', sans-serif;
$link: $red;

$card-shadow: 0 1px 2px rgba($grey-darker, 0.1);

$navbar-box-shadow-color: rgba($grey-darker, 0.1);
$navbar-box-shadow-size: 0 4px 8px;
$navbar-height: 3rem;

$footer-background-color: $white;
$footer-padding: 3rem 1.5rem 3rem;

@import '../node_modules/bulma/bulma.sass';

body {
  background-color: $white-bis;
}

.card {
  border-radius: 0.5rem;
}
.card:not(:last-child) {
  margin-bottom: 2rem;
}
.card:hover {
  box-shadow: 0 4px 8px rgba($grey-darker, 0.1);
}

.footer {
  box-shadow: 0 4px 8px rgba($grey-darker, 0.1);
}

.level > .level-item:not(.is-narrow) {
  flex-grow: 0;
}

.share-button {
  cursor: pointer;
}
.share-button:hover {
  opacity: 0.9;
}
