@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i&subset=vietnamese');

$column-gap: 1rem;
$family-sans-serif: 'Muli', sans-serif;
$red: #d84315;
$link: $red;

$card-background-color: $white-bis;
$card-shadow: none;

$footer-background-color: $white;
$footer-padding: 3rem 1.5rem 3rem;

$navbar-box-shadow-color: rgba($grey-darker, 0.1);
$navbar-box-shadow-size: 0 4px 8px;
$navbar-height: 3rem;

@import '../node_modules/bulma/bulma.sass';

.card {
  border-radius: 0.5rem;
}
.card:not(:last-child) {
  margin-bottom: 2rem;
}
.card:hover {
  box-shadow: 0 4px 8px rgba($grey-darker, 0.1);
}

.footer {
  box-shadow: 0 4px 8px rgba($grey-darker, 0.1);
}

.level > .level-item:not(.is-narrow),
.level.is-mobile > .level-item:not(.is-narrow) {
  flex-grow: 0;
}

.reading-mode {
  background-color: $white-bis;
}

.section:not(:first-child) {
  padding-top: 1.5rem;
}
.section:not(:last-child) {
  padding-bottom: 1.5rem;
}

.sidebar {
  background-color: $white-bis;
}

.share-button {
  cursor: pointer;
}
.share-button:hover {
  opacity: 0.9;
}
